body {
    margin: 0;
    background: #1F2937;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-family: Karla;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.5%;

}

#whiteTitle {
    color: #FFFFFF;
    height: 10px;
}

#greenTitle {
    color: #10B981;
    height: 28px;
}

#warningTitle {
    color: #D5D4D8;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    width: 372px;
    height: 51px;
}

#generatePassword {
    background-color: #10B981;
    color: #FFFFFF;
    width: 191px;
    height: 42px;
    padding: 284px 52px;
    border-radius: 6px;
    border: 0px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 15px;
    gap: 12px;

}

.custom-line {
    width: 446.0000000000017;
    height: 0px;
    border-width: 1px;
    margin: 30px 0;
    border: 1px solid #2F3E53;
    top: 361px;
    left: 52px;
}

#password-container {
    display: flex;
    gap: 20px;
}

input {
    background: #273549;
    color: #10B981;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;

}

